.idea/
logs/
node_modules/
.nx/

apps/**/tsconfig.json
libs/**/tsconfig.json

coverage
dist

*.tsbuildinfo
vite.config.ts.timestamp-*

!.vscode/extensions.json
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tgz
.AppleDouble
.DS_Store
.LSOverride
.vscode/*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# and uncomment the following lines
 .pnp.*


