lib/
.idea/
logs/
node_modules/

coverage
lib
dist

!.vscode/extensions.json
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.AppleDouble
.DS_Store
.LSOverride
.vscode/*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
